html {
  font-size: 16px;
}

.App {
  --spacing-xs: 0.33rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2.5rem;
  --border-radius: 1.2rem;

  --linear-theme-1: linear-gradient(
    -190deg,
    rgb(34, 32, 48) 0%,
    rgb(13, 13, 26) 50%
  );

  --color-theme-1: #0075ce;
  --theme-bg: rgba(255, 255, 255, 0.05);
  --color-theme-2: #05386e;
  --color-increase: rgb(25, 248, 107);
  --color-decrease: rgb(255, 63, 4);
  --color-card: var(--theme-bg);
  --color-inputs: var(--theme-bg);

  text-align: center;
  background: var(--linear-theme-1);
  background-color: var(--color-theme-1);
  height: 100vh;
  color: #282c34;
  color: white;
}

label {
  padding: 0 var(--spacing-m);
  padding-bottom: var(--spacing-m);

  :first-child {
    width: 100%;
  }
}

.rs-picker-select,
.rs-picker-default {
  background-color: transparent !important;
  background-color: var(--color-inputs) !important;
  border: none;
  border-radius: 6px;
  color: white;

  & *,
  a.rs-btn {
    border: none;
    background-color: transparent !important;

    & .rs-picker-toggle-value {
      color: white;
    }
  }
}
input {
  border: none !important;
  background-color: var(--color-inputs) !important;
  color: white !important;
}
input,
a .rs-picker-toggle-value {
  font-size: 1rem !important;
}

.fit-parent {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.p1 {
  padding: var(--spacing-xs);
}

.bold {
  font-weight: 600;
}

.api-key {
  padding: var(--spacing-s) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin-top: var(--spacing-s);
      width: 100%;
    }
  }

  button {
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: 3px;
    margin-top: var(--spacing-s);
    font-size: 1rem;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  .totals-container {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: var(--spacing-l) var(--spacing-l);
    padding-bottom: var(--spacing-xl);
    position: relative;
    overflow: hidden;

    &:after {
      content: " ";
      background: rgba(255, 255, 255, 0.02);
      width: 200%;
      height: 200%;
      position: absolute;
      top: -100%;
      left: -50%;
      border-radius: 50%;
    }

    .balance {
      margin-bottom: var(--spacing-l);
    }
  }

  h4 {
    margin: var(--spacing-m) 0;
  }

  .totals {
    width: 100%;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    &:not(:last-child) {
      margin-bottom: var(--spacing-s);
    }
  }

  .inputs {
    padding: 0 var(--spacing-m);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    input {
      margin-top: var(--spacing-m);
    }
    input,
    .rs-picker-select {
      width: 100%;
      margin-bottom: var(--spacing-m);
    }
  }

  label {
    padding: 0;

    :first-child {
      width: 100%;
    }
  }
}
p,
p + p {
  margin: 0;
  margin-top: 0 !important;
}

h4 {
  font-size: 1.2rem !important;
}

.coin-data-container {
  overflow: scroll;
  padding: var(--spacing-m) var(--spacing-m);

  .coin-data-card {
    background: var(--color-card);
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-s) var(--spacing-m);

    .section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h3 {
      margin: 0;
    }
  }
}
